*{
    margin: 0;
    padding: 0;
}

.ring {
    position: absolute;
    /* border: 5px solid blue; */
    width: 380px;
    height: 190px;
    left: 50%;
    top: 50%;
    margin-left: -190px;
    margin-top: -95px;
}

.content1,
.content2,
.content3,
.content4,
.content5 {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 10px solid black;
    border-radius: 50%;
}

.content1 {
    border-color: red;
    left: 0;
    top: 0;
}

.content2 {
    border-color: green;
    left: 130px;
    top: 0px;
    z-index: 3;
}

.content3 {
    border-color: yellow;
    left: 260px;
    top: 0px;
}

.content4 {
    border-color: blue;
    left: 65px;
    top: 70px;
}

.content5 {
    border-color: purple;
    left: 195px;
    top: 70px;
}