<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="page-Top">
        <div class="page-content">
            <h2>计划列表</h2>
        </div>
    </div>
    <div class="main">
        <h3 class="big-title">添加任务：</h3>
        <input type="text" class="task-input" v-model="inputValue" v-on:keyup.enter="addTodo">
        <ul class="task-count">
            <li>0个任务未完成</li>
            <li class="action">
                <a href="">所有任务</a>
                <a href="">未完成任务</a>
                <a href="">完成任务</a>
            </li>
        </ul>
        <h3 class="big-title">任务列表：</h3>
        <div class="tasks">
            <span class="no-task-tip">未添加任何任务</span>
            <ul class="todo-list">
                <li class="list" v-for="item in list">
                    <div class="view" v-bind:class="{deleteView:item.checked,hiddle:curTodo===item}">
                        <input type="checkbox" class="toggle" v-model="item.checked">
                        <label @dblclick="editTodo(item)">{{item.title}}</label>
                        <button class="destroy" v-on:click="deleteButtonPressed(item)">x</button>
                    </div>
                    <input type="text" class="edit" v-model="item.title" v-on:keyup.enter="editFinish" v-on:blur="editFinish" v-bind:class="{editing:curTodo===item}" v-focus="curTodo===item">
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./index.js"></script>    
</body>
</html>