*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}

body {
    background: #607d8b;
}

a {
    text-decoration: none;
    color: #333;
}

.label {
    padding: 8px 16px 8px 28px;
}

.nav ul {
  display: none;
}

.nav li {
  position: relative;
  display: block;
}

.nav > ul {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    background: #eee;
    white-space: nowrap;
}

.nav > ul > li > ul {
    position: absolute;
    top: 100%;
    left: 0%;
    white-space: nowrap;
}

.nav > ul > li:hover > ul {
    display: block;
    background: #eee;
    white-space: nowrap;
}

.nav > ul > li:hover > ul > li:hover > ul {
    position: absolute;
    display: block;
    background: #eee;
    top: 0%;
    left: 100%;
    white-space: nowrap;
} 







